@import "body.css";
@import "modulos.css";


/* HORARIOS*/
.horarios {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin: 4px;
}

.horarios>div {
  border-radius: 4px;
  place-content: center;
}

#horario1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image:linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(img/fretes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition-duration: 2s;
}
 
#horario2 {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
  background-image:linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(img/tatiana.jpeg);
  transition: background-color 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#horario3 {
  grid-column: 1 / 3;
  grid-row: 6 / 9;
  background-image:linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(img/huguito.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


/******************************************/
/* reloj*/
.clock-container {
  text-align: center;
  padding: 20px;
  width: 200px;
  height: 100px;
}

.clock {
  font-size: 48px;
  color: var(--color-blanco);
  margin-bottom: 20px;
  background-color: var(--color-rojo);
  border-radius: 4px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/***************************************/
/*calculadora RM*/

.rm-calculator {
  flex-basis: 45%;
}

.calculator {
  background-color: #3333334b;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.calculator label,
.calculator select,
.calculator input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  /* padding: 10px; */
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.calculator label {
  font-weight: bold;
}

.calculator input[type="number"]:focus,
.calculator select:focus {
  outline: none;
}

.calculator button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.calculator button:hover {
  background-color: red,
}

#result {
  margin-top: 10px;
  
}

.stopwatch-container {
  flex-basis: 45%;
}

.stopwatch,
.timer {
  background-color: #33333396;
  padding: 20px;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.timer .input-group label {
  margin-right: 10px;
}

.timer button {
  margin-top: 10px;
  width: 100%;
}

/* Estilos para el audio */
#alarm-sound {
  display: none;
}

/* Media queries para pantallas de menor tamaño */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .rm-calculator,
  .stopwatch-container {
    margin-bottom: 20px;
  }

  .calculator,
  .stopwatch,
  .timer {
    padding: 10px;
  }

  .clock {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .rm-calculator,
  .stopwatch-container {
    flex-basis: 100%;
  }
}





