
  
  .videos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1f ;/* 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    gap: 4px;
    margin: 4px; 
  }/